body 
{
	font-family: Verdana;
	font-size: 12px;
}

/* Template */
.PageHeader
{
	border-bottom: dotted 1px gray;
}

.PageHeaderText
{
	font-size: 20px;
	font-weight: bold;
	font-family: Arial;
}

.PageHeaderIdentity
{
	text-align: right;
}

.Column
{
	width: 5%;
	vertical-align: top;
	border-right: dotted 1px gray;
}

.Column UL
{
	margin-left: 16px;
}

/* Headings */
.Heading1
{
	font-size: 16px;
	font-weight: bold;
	color: #515151;
}

DIV.Heading2,
TD.Heading2,
TR.Heading2 TD
{
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	padding: 3px;
	color: #515151;
	padding-left: 4px;
	background-color: #DEDEDE;
	vertical-align: middle;
	height: 22px;
	margin-top: 0px;
}

/* Form */
.FieldLabel
{
	font-size: 11px;
	font-family: Tahoma;
	width: 200px;
}

.Field
{
	font-size: 11px;
	font-family: Tahoma;
}

/* Misc */
.Error
{
	color: Red;
}

.Message
{
	color: Green;
}