<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwexceptions="true" >
<extensions>
	<add assembly="SoftwareMonkeys.SiteStarter.Diagnostics" />
</extensions>
  <targets>

    <target name="Log" xsi:type="File" fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM-dd}/Log.xml">
      <layout xsi:type="LayoutWithHeaderAndFooter">
        <header xsi:type="SimpleLayout" text="&lt;?xml version='1.0'?&gt;${newline}&lt;?xml-stylesheet type='text/xsl'?&gt;${newline}&lt;Log&gt;"/>
            <layout xsi:type="SimpleLayout" text="${message}" />
            <footer xsi:type="SimpleLayout" text="&lt;/Log&gt;"/>
      </layout>
    </target>
  </targets>
<rules>
  <logger name="*" minlevel="Trace" writeTo="Log" />
</rules>
</nlog>