<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<section name="DataProvider" type="SoftwareMonkeys.SiteStarter.Data.DataProviderConfiguration, SoftwareMonkeys.SiteStarter.Data" allowDefinition="MachineToApplication"/>
		<section name="StateProvider" type="SoftwareMonkeys.SiteStarter.State.StateProviderConfiguration, SoftwareMonkeys.SiteStarter.State" allowDefinition="MachineToApplication"/>
	</configSections>
	<appSettings>
		<add key="EnableErrorHandling" value="false"/>
    <add key="EnableUrlCloaking" value="false"/>
    <add key="ReportIssueUrl" value="mailto:softwaremonkeys@googlegroups.com"/>
	</appSettings>
	<system.diagnostics>
		<switches>
			<add name="XmlSerialization.Compilation" value="4"/>
		</switches>
	</system.diagnostics>
	<system.web>
    <trace enabled="true"/>
    <!--pageOutput="true" writeToDiagnosticsTrace="true" /trace-->
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
		</authentication>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="Off"/>
		<pages theme="Default"/>
		<membership defaultProvider="MemberProvider">
			<providers>
				<add minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" name="MemberProvider" type="SoftwareMonkeys.WorkHub.Web.Security.MemberProvider"/>
			</providers>
		</membership>
		<!-- Now uses built-in sitemap with custom classes for interacting with Web.sitemap file -->
		<!--siteMap defaultProvider="ModuleMenuProvider" enabled="true">
			<providers>
				<clear/>
				<add name="ModuleMenuProvider" type="ModuleMenuProvider" securityTrimmingEnabled="false"/>
			</providers>
		</siteMap-->
    <webParts>
      <personalization
        defaultProvider="DynamicPersonalizationProvider">
        <providers>
          <add name="DynamicPersonalizationProvider"
            type="SoftwareMonkeys.WorkHub.Web.Providers.DynamicPersonalizationProvider, SoftwareMonkeys.WorkHub.Web"/>
        </providers>
      </personalization>
    </webParts>

  </system.web>
  <DataProvider defaultProvider="Db4oDataProvider">
		<providers>
			<add name="Db4oDataProvider" type="SoftwareMonkeys.SiteStarter.Data.Db4o.Db4oDataProvider"/>
		</providers>
	</DataProvider>
	<StateProvider defaultProvider="WebStateProvider">
		<providers>
			<add name="WebStateProvider" type="SoftwareMonkeys.SiteStarter.Web.State.WebStateProvider"/>
		</providers>
	</StateProvider>
</configuration>
